{% extends "base.html"%} {% block title %}Home{% endblock %}


{% block content%}
<section class="text-center h-100 gradient-custom-2" style="margin-top: 30px;">
    <button class="btn btn btn-outline-light">
        <img src="https://i.ibb.co/Tw3Hb23/main1.jpg" width="200"/>
    </button>
    <button class="btn btn btn-outline-light">
        <img src="https://i.ibb.co/LYBPxvM/main1-2.jpg" width="200"/>
    </button>
    <button class="btn btn btn-outline-light">
        <img src="https://i.ibb.co/TYyrBfM/main1-3.jpg" width="200"/>
    </button>
    <button class="btn btn btn-outline-light">
        <img src="https://i.ibb.co/VqVJt1T/main1-4.jpg" width="200"/>
    </button>
    <br />
    <br />
    <button class="btn btn btn-outline-light">
        <img src="https://i.ibb.co/mGqbnpB/main1-5.jpg" width="200"/>
    </button>
    <button class="btn btn btn-outline-light">
        <img src="https://i.ibb.co/09BCbP5/main1-6.jpg" width="200"/>
    </button>
    <button class="btn btn btn-outline-light">
        <img src="https://i.ibb.co/G9PKFzZ/main1-7.jpg" width="200"/>
    </button>
    <button class="btn btn btn-outline-light">
        <img src="https://i.ibb.co/nwN8hBX/main1-8.jpg" width="200"/>
    </button>

        <div class="container py-5 h-100 ">
            <div class="row d-flex justify-content-center align-items-center h-100">
            </div>
        </div>
        {% for handyman in handymen %}
          <div class="container">
            <div class="row justify-content-center">
              <div class="card " style="width: 800px;">
                <div class="row g-0">
                  <div class="col-md-4 h-100" style="height: 300px;">
                    <img 
                    {% if handyman is not none %}
                      {% if handyman.profileImage is none %}
                        src="https://www.bootdey.com/img/Content/avatar/avatar6.png"
                      {% else %}
                        src="data:profileimage/png;base64,{{ handyman.profileImage }}"
                    {% endif %}
                    {% else %}
                      src="https://www.bootdey.com/img/Content/avatar/avatar6.png"
                    {% endif %}
                    class="img-fluid rounded" style="object-fit: cover; width: 100%; height: 100%;" alt="Profile picture">
                  </div>
                  <div class="col-md-8 d-flex flex-column">
                    <div class="card-body d-flex justify-content-between flex-column">
                      <div>
                        <h5 class="card-title mb-2">{{ handyman.firstname1 ~ ' ' ~ handyman.lastname1 }}</h5>
                        <p class="card-text mb-2"><span class="font-weight-bold">{{ handyman.professioncategory }}</span></p>
                        <p class="card-text"><span class="font-style: italic;">Description:</span> <span class="fs-5">{{ handyman.description }}</span></p>
                        <div class="mt-auto">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-rupee-sign me-2"></i><span class="font-style: italic;">Price per hour:</span> 
                              <span class="fs-5">{{ handyman.price_per_hour }}</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex justify-content-between">
                          <div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><i class="fas fa-phone me-2"></i><span class="font-style: italic;">Phone:</span> 
                                <span class="fs-5">{{ handyman.phone }}</span>
                              </li>
                            </ul>
                          </div>
                          <div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><i class="fas fa-envelope me-2"></i><span class="font-style: italic;">Email:</span>
                                <span class="fs-5">{{ handyman.email1 }}</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </br>
        {% endfor %}
        

          
          
          
</section>
{% endblock %}

<a href="https://ibb.co/rFqtxvg"><img src="https://i.ibb.co/LYBPxvM/main1-2.jpg" alt="main1-2" border="0"></a>
<a href="https://ibb.co/q76xMSY"><img src="https://i.ibb.co/TYyrBfM/main1-3.jpg" alt="main1-3" border="0"></a>
<a href="https://ibb.co/NyxtsvK"><img src="https://i.ibb.co/VqVJt1T/main1-4.jpg" alt="main1-4" border="0"></a>
<a href="https://ibb.co/6mPrKQZ"><img src="https://i.ibb.co/mGqbnpB/main1-5.jpg" alt="main1-5" border="0"></a>
<a href="https://ibb.co/94wb5RP"><img src="https://i.ibb.co/09BCbP5/main1-6.jpg" alt="main1-6" border="0"></a>
<a href="https://ibb.co/68s3NjK"><img src="https://i.ibb.co/G9PKFzZ/main1-7.jpg" alt="main1-7" border="0"></a>
<a href="https://ibb.co/Zfp1ySQ"><img src="https://i.ibb.co/nwN8hBX/main1-8.jpg" alt="main1-8" border="0"></a>
<a href="https://ibb.co/L07CJR7"><img src="https://i.ibb.co/Tw3Hb23/main1.jpg" alt="main1" border="0"></a>

